
.container{
	background-color: white;
    margin: 20px auto;
	max-width: 850px;
	padding: 0 10px;
}

#about1{
    
    background-color: beige;

}

.section {
	width: 100%;
	margin: 40px 0;
	display: inline-block;
	box-shadow: 10px 8px 10px #B6C8CF;
	
}
.color1 {
	background-color: beige;
}



@media only screen and (min-width: 880px) {
	.left {
		width: calc(50% - 40px);
		float: left;
	}

	.right {
		width: calc(50% - 40px);
		float: right;
	}
}

@media only screen and (max-width: 879px) {
	.left {
		width: calc(100% - 40px);
		float: left;
	}

	.right {
		width: calc(100% - 40px);
		float: left;
	}
}

.section-text {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
}

.section-image {
	padding: 20px;
}

.section-image img {
	width: 100%;
	height: 300px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	object-fit: cover;
}















@media screen and (max-width: 900px) {
 #pasteis{
     
       max-width: 100%;
    min-width: 300px;
    height: auto;
    
 }
    
    .column {
    width: 50%;
  }
    
    .about-text{
        text-align:center;
    }
   
    .texto{
        font-size:18px;
        text-align:center;
    }
    .desktop{
         display: none;
    }
       .mobile{
         display: block;
    }
    
    #origem{
         font-family: 'Delius'; 
        font-size:13px;
        text-align: left;
        
    }
    .title{
        font-family: 'Bangers', cursive;
         font-size: 20pt;
        text-align: center;
        padding-top:2%;
        
         
    }

    #prancheta{
        
        max-width:105%;

       padding-right:10%; 
    }   
    #comicnav{

        font-size:30px;
    }


    #sobre_img{
        
        max-width:450px;
    }
    
}

 #comicnav:hover {
    color: forestgreen;
}
@media screen and (min-width: 1000px) {
    .desktop{
       display: block;
    }
    .mobile{
display: none;    
    }

      #prancheta{
        
        max-width:500px;

        
    }  
    

    
    
       #comicnav{
        
        font-size:60px;
    }
   
    .texto{
        
        font-size:18pt;
    }
    .title{
      font-size:50px;  
               font-family: 'Bangers', cursive;
  
    }
    
    #origem{
 font-size:20px;
   font-family: 'Delius'; 
        text-align: left;
}
  
#pasteis
{
    max-width: 560px;
    height: auto;
}
}



.responsive {
  padding: 0 6px;
align-content: center;
  width: 25%;
}
  div.desc {
    width: 25%;
  }

@media only screen and (max-width: 900px) {
  .responsive {
  width:50%;
    margin: 6px 0;
  }
    .overlayB a {
        
        
        font-size:18pt;
    }

}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 100%;
  }
    div.desc {
    width: 100%;
  }
      .overlayB a {
        
        
        font-size:18pt;
    }
}



div.gallery:hover {
 opacity:0.7;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}





.um{
    
        box-shadow: 10px 10px 5px   #d9d9d9;

}
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* selected link */
a:active {
    color: black;
}

#menu{
    font-family: 'Bangers';
width:100%;
   
  
}
#title1{
       font-family: 'Bangers';
 
    
}
#espaco{
   margin-top: 10px
    
}

#nome{
    background-color: bisque;
    font-family: 'Bangers';
    padding:2px;
    margin-bottom: 3px;
    wdth:100%;
}

#informacao{
    font-family: 'Delius';
}

.conteudo{ 
    font-family: 'Delius';

    padding-left:10%;
    padding-right:10%;
}

#about{
    
    padding: 30px 0;
}

#point {
    height:5px;
    width:20px;
    border-bottom:6px solid #006600;  
    animation: increase 2s;
    animation: increase 2s; 
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 600px) {
   [class*="right"] {
 width:100%;
       text-align:right;
}   
   
    
    [class*="left"] {
 width:100%;
         text-align: right;
}

}
@keyframes increase {
    100% {
        width: 100%;
    }
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.conteudocomics{
    text-align: center;
    font-family: 'Bangers', cursive;
    margin-top: 3px;
    font-color: black;

    
}
/*NAV COLLAPSE INICIO */

.overlayB {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
 
}

.overlayB-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlayB a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlayB a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlayB .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-width: 900px) {
  .overlayB {overflow-y: auto;}
  .overlayB a {font-size: 18pt}
  .overlayB .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

#personagens{
   max-height:300px;
    padding:2%;
      border-radius: 50%;

}

.card-img-top:hover{
    opacity: 0.5;
    
    
}



#personagens:hover{
    
    opacity:0.5;
}
.container-fluid{
    
    padding-top: 1%;
    
}
#content {
     padding-top:10%;
    z-index: 5;
    float:right;
border: 2px solid forestgreen;
     border-radius: 2px;
    height: 40px;
    width:40px;
    background-color: white;
    border-color:forestgreen;
position: -webkit-sticky;
  position: sticky;
  top: 0;
 
}
#content:hover{
    
    color:white;
    background-color: forestgreen;
}
/*NAV COLLAPSE FIM */






#lead{
    
   font-family: 'Delius'; 
}


.card {
  position: relative;
  width: 50%;
}

#img{
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #006600;
}
#relatorio:hover{
    
    color:forestgreen!important;
}
.card:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover #img2 {
  opacity: 1;
}

.back,h1 {
  color:  #003300;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.back {
  position: absolute;
  top: 2em;
  right: 2em;
  z-index: 100;
  color:  #004d00;
  text-decoration: none;
  transition: color .3s;
}

.back:hover {
  color: #aaa;
}

h1 {
  padding: 2em 0 1em;
  font-size: 48px;
  font-weight: 300;
  text-align: center;
}
div.ex1 {
  background-color: lightblue;

 overflow: scroll;
}

   ul.nav-pills {
    top: 20px;
    position: fixed;
  }
/*buttuon */

.button {
 
position:relative;
  padding: 1% 8%;
  border: 2px solid #003300;
  color:  #003300;
  font-size: 25px;
  font-family: 'Bangers';
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition: .3s;
}

/*go back to top button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
    
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}






/* Sixth Button */

#button-6 {
  position:relative;


  overflow: hidden;
  cursor: pointer;
    padding: 10px;
    width: 100px;
}

#button-6 a {

position:relative;

  transition: all .45s ease-Out;
    
}

#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all .5s ease-Out;
}

#button-6:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background:#006600;
  transform: rotate(80deg);
   
}

#button-6:hover a {
 color:white;
text-decoration: none;
}


/* 7 Button */

#button-7 {
      position:relative;
  overflow: hidden;
  cursor: pointer;
    padding: 10px;
    width: 100px;
}

#button-7 a {
  position: relative;
  transition: all .45s ease-Out;
    color:black;
}

#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all .5s ease-Out;
}

#button-7:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background:  #ffd11a;
  transform: rotate(80deg);
   
}

#button-7:hover a {
 color:white;
text-decoration: none;
}

/* 7 Button */

#button-8 {
       position:relative;
  overflow: hidden;
  cursor: pointer;
    padding: 10px;
    width: 100px;
}

#button-8 a {
  position: relative;
  transition: all .45s ease-Out;
    color:black;
}

#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all .5s ease-Out;
}

#button-8:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background:  #FF0000;
  transform: rotate(80deg);
   
}

#button-8:hover a {
 color:white;
text-decoration: none;
}

